NODE_ENV=local
PORT=3000
MONGO_URI=mongodb://localhost:27017/justgold-db
TWILIO_SID=SID-123
TWILIO_AUTH_TOKEN=auth-token-123
TWILIO_PHONE=+91-1234567890
REDIS_HOST=localhost
REDIS_PORT=6379
JWT_SECRET=secret